<app-loader *ngIf="isLoading" />
<br><br>
<button (click)="restore()">Restore</button>

<div class="flex">
    <button class="btn btn-secondary" (click)="mostExpensive()">Kõige kallim toode</button>
    <button class="btn btn-secondary" (click)="cheapest()">Kõige odavam toode</button>
</div>


<form>
    <div class="flex">
        <input type="number" name="price" [(ngModel)]="price">
        <button type="button" class="btn btn-secondary" (click)="lowerPrice()" >V2iksema hinnaga kui sisestatud</button>
        <button type="button" class="btn btn-secondary" (click)="higherPrice()">Suurema hinnaga kui sisestatud</button>
    </div>
    <span *ngIf="submitted" (click)="restore()" class="keyword">{{price}} X</span>
</form>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Image</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
  @for (toode of tooted; track toode; let i = $index) {
    <tr>
      <td>{{ toode.id }}</td>
      <td>{{ toode.title }}</td>
      <td>{{ toode.price }}</td>
      <td>{{ toode.description | shortener:100 }}</td>
      <td>{{ toode.category }}</td>
      <td> <img style="width: 100px;" src="{{toode.image}}" alt=""> </td>
      <td>{{ toode.rating.rate }}</td>
    </tr>
  }
  </tbody>
</table>