<button [style]="aktiivneLinn === 'tallinn' ? 'text-decoration: underline' : ''" (click)="muudaLinn('tallinn')">Tallinn ({{ esindused["tallinn"].length }})</button>
<button [style]="aktiivneLinn === 'tartu' ? 'text-decoration: underline' : ''" (click)="muudaLinn('tartu')">Tartu ({{ esindused["tartu"].length }})</button>
<button [style]="aktiivneLinn === 'narva' ? 'text-decoration: underline' : ''" (click)="muudaLinn('narva')">Narva ({{ esindused["narva"].length }})</button>
<button [style]="aktiivneLinn === 'parnu' ? 'text-decoration: underline' : ''" (click)="muudaLinn('parnu')">Pärnu ({{ esindused["parnu"].length }})</button>

<br><br>
<app-sorteeri-nupud [poed]="esindused" [aktiivneLinn]="aktiivneLinn" />
<br><br>
<app-filtreeri-nupud [poed]="esindused" [aktiivneLinn]="aktiivneLinn" />
<br>

@for (esindus of esindused[aktiivneLinn]; track esindus; let i = $index) {
  <div>{{ esindus }}</div>
  <button [routerLink]="['/esindus', aktiivneLinn, i]">Vt lähemalt</button>
}

<div>Kõikide esinduste tähed kokku: {{tahedKokku()}}</div>

