<form #tooteVorm="ngForm" (submit)="lisa(tooteVorm)">
  <label>Pilt</label> <br>
  <input ngModel name="pilt" type="text" required> <br>
  <label>{{'form.product-name' | translate}}</label> <br>
  <input ngModel name="nimi" [type]="showNimi ? 'text' : 'password'" required>   
  <button type="button" (click)="changeShowNimi()">{{ showNimi ? "Varja" : "Näita" }}</button>
  <br>
  <label>{{'form.product-price' | translate}}</label> <br>
  <input ngModel name="hind" type="number" required> <br>

  <select ngModel name="kategooria">
    @for (kategooria of kategooriad; track kategooria) {
      <option [value]="kategooria.nimi">{{kategooria.nimi}}</option>
    }
  </select>

  <label>Aktiivsus</label> <br>
  <input ngModel name="aktiivne" type="checkbox"> <br>
  <button [disabled]="isNimiInvalid(tooteVorm) || tooteVorm.invalid" type="submit">Sisesta</button> <br>
</form>

<div *ngIf="isNimiInvalid(tooteVorm)">
  Ilma C täheta ei saa toodet lisada!
</div>

<table>
  <thead>
    <tr>
      <th>Pilt</th>
      <th>Nimi</th>
      <th>Hind</th>
      <th>Aktiivsus</th>
      <th>Tegevused</th>
    </tr>
  </thead>
  <tbody>
  @for (toode of tooted; track toode; let i = $index) {
    <tr>
      <td> <img style="width: 100px;" src="{{toode.pilt}}" alt=""> </td>
      <td>{{ toode.nimi }}</td>
      <td>{{ toode.hind }}</td>
      <td>{{ toode.aktiivne }}</td>
      <td> 
        <button (click)="open(i)">x</button> 
        <button [routerLink]="['/muuda-toode', toode.nimi]">Muuda</button>
      </td>
    </tr>
  }
  </tbody>
</table>



<br><br><br><br><br>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- vasakpoolne on eventemitter (child componendist)
parempoolne on siit componendist -->
<app-modal (kustuta)="kustuta()" />