<form *ngIf="toode !== undefined" (submit)="muuda()" [formGroup]="muudaToodeVorm">
  <label>Pilt</label> <br>
  <input formControlName="pilt" type="text" required> <br>
  <label>Nimi</label> <br>
  <input formControlName="nimi" required>   <br>
  <label>Hind</label> <br>
  <input formControlName="hind" type="number" required> <br>
  <label>Aktiivsus</label> <br>
  <input formControlName="aktiivne" type="checkbox"> <br>
  <button [disabled]="muudaToodeVorm.invalid" type="submit">Sisesta</button> <br>
</form>