
<!-- <li *ngFor="let color of colors; track color">
        {{color}}
</li> -->

<!-- <ul>
  @for (color of colors; track color) {
  <li>{{ color }}</li>
  }
</ul> -->

<ng-container *ngIf="tooted.length === 0; else cartNotEmpty">
  <p>Ostukorv on tühi</p>
</ng-container>


<ng-template #cartNotEmpty>
  
  <div>Ostukorvis olevate toodete arv: {{ tooted.length }} tk</div>
  <button (click)="tyhjenda()">Tühjenda</button>

  <div>
    @for (t of tooted; track t; let i = $index) {
      <div>{{ t.toode.nimi }} - {{ t.toode.hind | price }}</div>
      <button (click)="vahendaKogus(i)">-</button>
      <div>{{ t.kogus }} tk</div>
      <button (click)="suurendaKogus(i)">+</button>
      <div>{{ t.toode.hind * t.kogus | price }}</div>
      <button (click)="kustuta(i)">x</button>
      <!-- <button (click)="lisa(t)">Lisa lõppu juurde</button> -->
    }
  </div>

  <div>Summa: {{ kokku() }} €</div>
  
  <button (click)="maksa()">Maksa</button>
  <br>

  <app-pakiautomaadid />

</ng-template>