
<!-- <li *ngFor="let color of colors; track color">
        {{color}}
</li> -->

<!-- <ul>
  @for (color of colors; track color) {
  <li>{{ color }}</li>
  }
</ul> -->

<ng-container *ngIf="tooted.length === 0; else cartNotEmpty">
  <p>Ostukorv on tühi</p>
</ng-container>


<ng-template #cartNotEmpty>
  
  <div>Ostukorvis olevate toodete arv: {{ tooted.length }} tk</div>
  <button (click)="tyhjenda()">Tühjenda</button>

  <div>
    @for (toode of tooted; track toode; let i = $index) {
      <div>{{ toode.nimi }} - {{ toode.hind }} €</div>
      <button (click)="kustuta(i)">x</button>
      <button (click)="lisa(toode)">Lisa lõppu juurde</button>
    }
  </div>

  <div>Summa: {{ kokku() }} €</div>


  <select>
    @for (pm of pakiautomaadid; track pm) {
      <option>{{ pm.NAME }}</option>
    }
  </select>

</ng-template>