<!-- siia tuleb menüü -->
<button routerLinkActive="aktiivne-url" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Avalehele</button>
<button routerLinkActive="aktiivne-url" exact routerLink="/kinkekaart">Kinkekaardid</button>
<button routerLinkActive="aktiivne-url" routerLink="/lisa-toode">Lisa toode</button>
<button routerLinkActive="aktiivne-url" routerLink="/ostukorv">Ostukorv</button>
<button routerLinkActive="aktiivne-url" routerLink="/seaded">Seaded</button>
<button routerLinkActive="aktiivne-url"routerLink="/halda">Halda tooteid</button>
<button routerLinkActive="aktiivne-url" routerLink="/esindused">Esindused</button>
<button routerLinkActive="aktiivne-url" routerLink="/tarnija">Tarnija</button>


<!-- siia tulevad leheküljed, vastavalt routes-dele -->
<router-outlet />


<!-- siia tuleb footer -->




