<!-- <div>{{ kuupaev | date:'short' }}</div>
<div>{{ kuupaev | date:'shortTime' }}</div>
<div>{{ kuupaev | date:'shortDate' }}</div>
<div>{{ kuupaev | date:'mediumDate' }}</div>
<div>{{ kuupaev | date:'mediumTime' }}</div>
<div>{{ kuupaev | date:'d.MM.yyyy H:mm' }}</div>
<div>{{ 0.5 | percent}}</div>

<div>{{ tooted | json }}</div> -->

<app-card 
  [header]="'TV ja internet suvilasse'" 
  [content]="'Talvekuudel seadmete eest üüri maksma ei pea ning teenused saad peatada 90 päevaks tasuta. Vaatan tingimusi'" 
  [buttonText]="'Soovin pakkumist'" 
  [imageUrl]="''" />

@for (toode of tooted; track toode; let i = $index) {
  <app-toode [toode]="toode" (addToCart)="lisaOstukorvi($event)" />
}

<app-card 
  [header]="'TV ja internet koju'" 
  [content]="'Super pakkumine. Vaatan tingimusi'" 
  [buttonText]="'Tahan rohkem teada'" 
  [imageUrl]="''" />